# Ignore everything
*

# But not these files...
!/.gitignore
!.gitkeep

!*.go
!go.sum
!go.mod

!README.md
!LICENSE
!SLIDES.md

!Makefile

# ...even if they are in subdirectories
!*/

graph/generated/*
graph/model/generated.go
